<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{header :: head}">
</head>
<body>
<div class="container">
	<div th:insert="~{header :: header}"></div>
	

	<div class="page-header">
		<h1>Pretraga vozila</h1>
	</div>


	<form action="/vehicles/search" method="get">
		<div class="row">
			<div class="col-sm-2">Država registracije:</div>
			<div class="col-sm-3"><input name="registrationCountry" type="text" class="form-control"></div>
		</div>
		<div class="row">
			<div class="col-sm-2">Registarska oznaka:</div>
			<div class="col-sm-3"><input name="registrationNumber" type="text" class="form-control"></div>
		</div>
		<div class="row">
			<div class="col-sm-2">Broj šasije:</div>
			<div class="col-sm-3"><input name="idNumber" type="text" class="form-control"></div>
		</div>
		
		<button type="submit" class="btn btn-default btn-search">Traži</button>
	</form>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Registarska oznaka</th>
				<th>Proizvođač</th>
				<th>Model</th>
				<th>Vlasnik</th>
				<th>Indikator</th>
				<th>Događaj</th>
			</tr>
		</thead>
		<tbody id="table-body-id">
		</tbody>
	</table>


<script>
	$('form').on('submit', function(event) {
		event.preventDefault();
		$("#table-body-id").empty();
		let formData = $(event.target).serialize();
		let serverUrl = $(event.target).attr('action');
		$.ajax({
			type: "GET",
			url: serverUrl,
			data: formData,
			success: function(result){
				let row = '<tr><td class="regnumber"/><td class="manufacturer"/><td class="model"/><td class="owner"/><td class="indicator"/><td class="event"/><td><a class="btn btn-default btn-select" href="#" role="button">Pregledaj</a></td></tr>';
				let baseUrl = window.location.origin;
				for (let i = 0; i < result.length; i++) {
					let rowObject = $(row);
					rowObject.find(".regnumber").text(result[i].registrationNumber);
					rowObject.find(".manufacturer").text(result[i].manufacturer);
					rowObject.find(".model").text(result[i].model);
					rowObject.find(".owner").text(result[i].ownerFullName);
					rowObject.find(".btn-select").attr('href', baseUrl + "/pregled/vozilo/" + result[i].id);
					
					$("#table-body-id").append(rowObject);
				}
				
			},
			error: function() {console.log("error")},
			dataType: "json",
			contentType : "application/json"
		});
	});
</script>
</div>

</body>
</html>
