<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{header :: head}">
</head>
<body>
<div class="container">
	<div th:insert="~{header :: header}"></div>
	

	<div class="page-header">
		<h1>Pregled oružja</h1>
	</div>
	<div th:insert="~{insert/weapon :: insert-weapon}"></div>

	<div th:insert="~{fragments :: find-person-modal}"></div>
	
	<script th:src="@{~/js/controllers/weaponController.js}"></script>
	<script>
		loadSimpleForm('#save-weapon-form', function(data) {
			fillOwnerData(data.owner);
		});
	</script>
	
</div>

</body>

</html>
